.navbar-logo {
    width: 120px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #495579;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #495579;
}

.navbar li {
    cursor: pointer;
}

@media (max-width: 1050px) {
    .navbar-logo {
        width: 60px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 20px;
    }

   
}

@media (max-width: 900px) {
    .navbar-menu {
        font-size: 16px;
    }
    .navbar-menu {
        display: none;
    }
}

@media (max-width: 550px) {
    .navbar-logo{
        width: 40px;
    }
    .css-u3ezn2-MuiButtonBase-root-MuiButton-root{
        padding: 4px 2px !important;
        font-size: 10px !important;
    }

    .css-1t2o71x-MuiButtonBase-root-MuiButton-root{
        padding: 4px 2px !important;
        font-size: 10px !important;
    }

    .css-1wv1py4-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root{
        font-size: 12px;
        width: 80px;
        margin-left: 10px;
    }

    .css-4ngsfd-MuiBadge-root .MuiBadge-badge{
        font-size: 12px;
        padding: 1px;
    }
}


