.navbar-logo {
    width: 120px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #495579;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #495579;
}

.navbar li {
    cursor: pointer;
}

@media (max-width: 1050px) {
    .navbar-logo {
        width: 60px;
    }

    .navbar-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 15px;
    }

   
}

@media (max-width: 900px) {
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
    .navbar-menu {
        display: none;
    }
}
@media (max-width: 750px) {
    .navbar-right {
        gap: 14px;
    }
   
}

